faiss-cpu
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
transformers==4.41.2
sentence-transformers==2.7.0
streamlit
fastapi==0.111.0
uvicorn==0.30.1
google-generativeai
openai-whisper
yt-dlp
youtube-transcript-api
